version: 2.1

executors:
  py39:
    docker:
      - image: circleci/python:3.9
  py38:
    docker:
      - image: circleci/python:3.8
  py37:
    docker:
      - image: circleci/python:3.7
  py36:
    docker:
      - image: circleci/python:3.6

commands:
  setup_requirements:
    description: Setup requirements
    parameters:
      python_version:
        type: string
    steps:
      - checkout
      - run:
          name: Grant CircleCI access to dependency locations
          command: |
            sudo chown -R circleci:circleci /usr/local/bin
            sudo chown -R circleci:circleci /usr/local/lib/<< parameters.python_version >>/site-packages
      - run:
          name: Install pip setuptools
          command: python -m pip install -U "pip==21.0.1" "setuptools>=38.0" wheel
      - run:
          command: |
            sudo pip install -r test_requirements.txt
      - run:
          name: Pip freeze
          command: pip freeze
  e2e_run:
    description: Run `kedro run` end to end tests for all starters
    steps:
      - run:
          command: behave features/run.feature
  e2e_lint:
    description: Run `kedro lint` end to end tests for all starters
    steps:
      - run:
          command: behave features/lint.feature

jobs:
  security_scan:
    executor: py39
    steps:
      - setup_requirements:
          python_version: "python3.9"
      - run:
          command: bandit -ll -r .
  e2e_39:
    executor: py39
    steps:
      - setup_requirements:
          python_version: "python3.9"
      - e2e_run
  e2e_38:
    executor: py38
    steps:
      - setup_requirements:
          python_version: "python3.8"
      - e2e_run
  e2e_37:
    executor: py37
    steps:
      - setup_requirements:
          python_version: "python3.7"
      - e2e_run
  e2e_36:
    executor: py36
    steps:
      - setup_requirements:
          python_version: "python3.6"
      - e2e_run
  lint_39:
    executor: py39
    steps:
      - setup_requirements:
          python_version: "python3.9"
      - e2e_lint
  lint_38:
    executor: py38
    steps:
      - setup_requirements:
          python_version: "python3.8"
      - e2e_lint
  lint_37:
    executor: py37
    steps:
      - setup_requirements:
          python_version: "python3.7"
      - e2e_lint
  lint_36:
    executor: py36
    steps:
      - setup_requirements:
          python_version: "python3.6"
      - e2e_lint

workflows:
  version: 2
  build:
    jobs:
      - security_scan
      - e2e_39
      - e2e_38
      - e2e_37
      - e2e_36
      - lint_39
      - lint_38
      - lint_37
      - lint_36
