# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.4.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-added-large-files
          - id: check-case-conflict # Check for files that would conflict in case-insensitive filesystems
          - id: check-merge-conflict # Check for files that contain merge conflict strings.
          - id: debug-statements # Check for debugger imports and py37+ `breakpoint()` calls in python source.
          - id: requirements-txt-fixer # Sorts entries in requirements.txt
          - id: forbid-new-submodules

    - repo: https://gitlab.com/pycqa/flake8
      rev: '3.9.0'
      hooks:
          - id: flake8
    - repo: https://github.com/asottile/seed-isort-config
      rev: v2.2.0
      hooks:
          - id: seed-isort-config
    - repo: https://github.com/pre-commit/mirrors-isort
      rev: v5.8.0
      hooks:
          - id: isort
    - repo: https://github.com/asottile/blacken-docs
      rev: v1.10.0
      hooks:
          - id: blacken-docs
            additional_dependencies: [black]
    - repo: https://github.com/psf/black
      rev: 20.8b1
      hooks:
          - id: black
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.812
      hooks:
          - id: mypy
            exclude: tests/
    - repo: https://github.com/econchick/interrogate
      rev: '1.2.0'
      hooks:
      - id: interrogate
        description: check for docstring coverage
        entry: interrogate -f 100 -iIvv
        types: [python]
        exclude: docs
