ipython>=8.10
jupyterlab>=3.0
notebook
kedro[jupyter]~={{ cookiecutter.kedro_version }}
kedro-datasets[spark, pandas, spark-sparkdataset, pandas-parquetdataset]>=3.0
numpy~=1.21; python_version <= '3.9'
numpy~=2.1; python_version > '3.9'
