ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.0.0
kedro-datasets[pandas-sqltabledataset,pandas-sqlquerydataset,yaml-yamldataset,opik,langchain-chatopenaidataset, langfuse]~=9.0.0
kedro-viz>=12.2.0
langgraph~=1.0.0
scikit-learn~=1.7.2
questionary~=2.1.1