name: Run all checks on Kedro Starters

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python ${{inputs.python-version}}
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"
      - name: Install test requirements
        run: make install-test-requirements
      - name: Run Bandit
        run: bandit -ll -r .

  run-tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python ${{inputs.python-version}}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install test requirements
        run: make install-test-requirements
      - name: Setup Hadoop binaru
        if: matrix.os == 'windows-latest'
        run: |
            Invoke-WebRequest https://github.com/steveloughran/winutils/blob/master/hadoop-2.7.1/bin/winutils.exe?raw=true -OutFile winutils.exe
            Invoke-WebRequest https://github.com/steveloughran/winutils/blob/master/hadoop-2.7.1/bin/hadoop.dll?raw=true -OutFile hadoop.dll
            Move-Item .\hadoop.dll C:\Windows\System32
            New-Item -ItemType directory -Path C:\hadoop\bin
            Move-Item .\winutils.exe C:\hadoop\bin
            setx /m HADOOP_HOME "C:\hadoop"
      - name: Run `kedro run` end to end tests for all starters
        run: behave features/run.feature

  lint:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python ${{inputs.python-version}}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install test requirements
        run: make install-test-requirements
      - name: Run linter for all starters
        run: behave features/lint.feature