ipython>=8.10
jupyterlab>=3.0
notebook
kedro~={{ cookiecutter.kedro_version }}
kedro[jupyter]
kedro-datasets[pandas-csvdataset]>=3.0; python_version >= "3.9"
kedro-datasets[pandas.CSVDataset]>=1.0; python_version < "3.9"
kedro-airflow~=0.5
